node_modules/
dist/
build/
.env
.env.local
*.log
.DS_Store
Thumbs.db

# Agent files
.agents/
skills-lock.json

# Firebase
firebase.json
.firebaserc
.firebase/

# Firebase & Secret Keys
**/firebase-service-account*.json
**/.env
**/.env.local
**/*.local
firebase-service-account.json
skills-lock.json
.agents/*
firebase.json
.firebaserc

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars

# Production Environments
.env.production
**/.env.production
env.production
**/env.production
